@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.tag-detail {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}
a {
	text-decoration: none;
}

.tag-a-1 {
	color: black;
}
.tag-a {
	padding-left: 10px;
}

.button-tag-1 {
	border: none;
	background: #ca0000;
	border-radius: 8px;
	width: 130px;
	height: 40px;
	margin: 50px 0px 0px 22px;
	padding: 7px 10px;
}
.button-tag-2 {
	border: none;
	background: #e5e5e5;
	border-radius: 8px;
	width: 130px;
	height: 40px;
	margin: 50px 0px 0px 22px;
	padding: 7px 10px;
}
