@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.report-artikel-container {
	padding: 25px 0px 0px 213px;
}
.report-btn,
button {
	border: 0px hidden #ffffff;
	background-color: #ffffff;
}
